body{
    background-color:#f4f4f4;
    color:#555;
    font-family:Arial, Helvetica, sans-sarif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

#main-header{
    background-color:coral;
    color:#fff;
}

#navbar{
    background-color:cyan;
    border-bottom:3px black solid;
	
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:black;
    text-decoration:none;
    font-size:18px;
    padding-right:15px;
}

#showcase{
    background-image:url('../images/showcase.jpeg');
    background-position:center center;
    min-height:300px;
    margin-bottom:30px;
    text-align:center;
}

#showcase h1{
    font-size:50px;
    line-height:1.6em;
    
}

#main{
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing: border-box
}
#sidebar{
    float:right;
    width:30%;
    padding:0 30px;
    box-sizing: border-box
}


